<!DOCTYPE html>
<html lang="en">

  <%-include('./partials/head.ejs') %>
  <title>Carrito de compra</title>
</head>

  <body>
  <%-include('./partials/header.ejs') %>
  <main>
    <section class="mt-2">
      <div class="container">
        <div clas="cart">
        <div class="table-responsive">
          <table style="margin:0 auto;" class = "table">
            <thead class = "thead-dark">
              <tr>
                <th scope = "col" class = "text-white">Producto</th>
                <th scope = "col" class = "text-white">Precio</th>
                <th scope = "col" class = "text-white">Cantidad</th>
                <th scope = "col" class = "text-white">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="main">
                    <div class = "d-flex">
                      <img src="/img/Audi.png" alt=""> 
                    </div>
                    <div class ="des">
                      <p class="description"> Carro 
                        Audi</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h3>$20.000</h3>
                </td>
                <td>
                  <div class="counter">
                    <i class = "fas fa-angle-down"></i>
                    <input class="input-number" type="text" value="1" min="0"max="10">
                    <i class ="fas fa-angle-up"></i>
                  </div>
                </td>
                <td>
                  <h3>$20.000</h3>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="main">
                    <div class = "d-flex">
                      <img src="/img/BMW.png" alt=""> 
                    </div>
                    <div class ="des">
                      <p class="description">Carro BMW</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h3>$30.000</h3>
                </td>
                <td>
                  <div class="counter">
                    <i class = "fas fa-angle-down"></i>
                    <input class="input-number" type="text" value="1" min="0"max="10">
                    <i class ="fas fa-angle-up"></i>
                  </div>
                </td>
                <td>
                  <h3>$30.000</h3>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="main">
                    <div class = "d-flex">
                      <img src="/img/Ford.png" alt=""> 
                    </div>
                    <div class ="des">
                      <p class="description">Carro Ford</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h3>$30.000</h3>
                </td>
                <td>
                  <div class="counter">
                    <i class = "fas fa-angle-down"></i>
                    <input class="input-number" type="text" value="1" min="0"max="10">
                    <i class ="fas fa-angle-up"></i>
                  </div>
                </td>
                <td>
                  <h3>$30.000</h3>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </section>
    <div class="col-lg-4 offset-lg-4">
      <div class="checkout">
        <ul>
          <li class="subtotal">subtotal
            <span>$80.000</span>
          </li>
          <li class="cart-total">Total
          <span>$95.200</span></li>
        </ul>
        <a href="#" class ="proceed-btn">Proceder a COMPRA</a>
      </div>
    </div>

    <%-include('./partials/product/offers.ejs')%>
    
    <%-include('./partials/brands.ejs')%>

  </main>

  <%-include('./partials/footer.ejs') %>
  </body>

</html>