<!DOCTYPE html>
<html lang="en">

  <%-include('./partials/head.ejs') %>
  <title>My New Car - Compra y venta de autos usados garantizados</title>
</head>

<body>
  <%-include('./partials/header.ejs') %>
  <main>
    <div class="home-top-banner"><img src="img/HomeTopBanner.jpg" alt=""></div>
    
    <%-include('./partials/product/offers.ejs')%>

    <%-include('./partials/brands.ejs')%>

  </main>

  <%-include('./partials/footer.ejs') %>
</body>

</html>