<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs') %>
    <title>Iniciar sesión</title>
  </head>

<%-include('./partials/header.ejs') %>
<body>
    <main>
    <% if (locals && locals.mensajesDeError) {%>
      <center>
      <p style="color:red">¡ERROR!</p>
      <% for(let error in mensajesDeError) { %>   
        <ol>
          <li style ="color: orange">
            <%= mensajesDeError[error].msg %>
          </li>
        </ul>
      <% } %>
    </center>
    <% } %>
      <form action="/users/login" method="POST" class="formBody">
        <div class="TopContainer">
          <h3>¡Bienvenido!</h3>
        </div>
        <div class="FormItem">
          <label for="nombre-usuario">Usuario / E-mail:</label>
          <input type="text" name="nombreUsuario" placeholder="Nombre de usuario" class="InputControl" value ="<%= locals.old && old.nombreUsuario ? old.nombreUsuario :""%>">
        </div>
        <div class="FormItem">
          <label for="password">Contraseña:</label>
          <input type="password" name="password" placeholder="Contraseña" class="InputControl"  value ="<%= locals.old && old.password ? old.password :""%>">
        </div>
        <div>
          <button type="submit" class="SubmitBotton">Login</button>
        </div>
        <div class="FormItemLink">
          <a href="/recovery">¿Olvidaste tu contraseña?</a>
          <a href="/register">Creá tu cuenta</a>
        </div>
      </form>
    </main>
    <%-include('./partials/footer.ejs') %>
</body>
</html>