<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs') %>
    <title>Iniciar sesión</title>
  </head>

<%-include('./partials/header.ejs') %>
<body>
    <main>
      <% if (typeof errors != 'undefined'){ %>
        <p class="errors">ERROR</p>
        <ul>
          <% for(let i=0; i<errors.length; i++){%>
            <li>
              <%= errors[i].msg %> 
            </li>
            <% } %>  
        </ul> 
        <% } %> 
      <form action="/users/login" method="POST" class="formBody">
        <div class="TopContainer">
          <h3>¡Bienvenido!</h3>
        </div>
        <div class="FormItem">
          <label for="email">E-mail:</label>
          <input 
              type="text" 
              name="email" 
              placeholder="Ingrese su correo electrónico" 
              class="InputControl <%= locals.errors && errors.email ? 'is-invalid' : null %>"
              value="<%= locals.oldData ? oldData.email : null %>" 
          />
          <br>
          <% if (locals.errors && errors.email) { %>
            <div class="text-danger">
                <%= errors.email.msg %> 
            </div>             
            <br>
        <% } %>
        </div>
        <div class="FormItem">
          <label for="password">Contraseña:</label>
          <input 
              type="password" 
              name="password" 
              placeholder="Ingrese su contraseña" 
              class="InputControl <%= locals.errors && errors.password ? 'is-invalid' : null %>"
              value="<%= locals.oldData ? oldData.password : null %>" 
          />
          <br>
          <% if (locals.errors && errors.password) { %>
              <div class="text-danger">
                  <%= errors.password.msg %> 
              </div>             
              <br>
          <% } %>
        </div>
        <div>
          <button type="submit" class="SubmitBotton">Login</button>
        </div>
        <div class="FormItemLink">
          <a href="/users/recovery">¿Olvidaste tu contraseña?</a>
          <a href="/users/create">Creá tu cuenta</a>
        </div>
      </form>
    </main>
    <%-include('./partials/footer.ejs') %>
</body>
</html>