<!DOCTYPE html>
<html lang="en">
<%-include('.. /partials/head.ejs') %>
    <title>Lista de autos</title>
    </head>
    <%-include('.. /partials/header.ejs') %>

        <body>
            <main>
                <h2 class="title">Listado de autos</h2>
                <section class="main-ofert">
                    <% for(var i=0; i < products.length; i++) { %>
                        <% { %>
                            <article class="main-ofert-article">
                                <img src="/img/products/<%=products[i].img[0]%>" alt="">
                                <div class="main-article-content">
                                    <div class="price-container">
                                        <div class="main-discount-container">
                                            <p class="main-discount">
                                                <%=products[i].discount_percentage%>% DCTO
                                            </p>
                                        </div>
                                        <p class="main-discountprice">$<%=products[i].discount_price%>
                                        </p>
                                        <p class="main-price">$<%=products[i].price%>
                                        </p>
                                    </div>
                                    <br>
                                    <p class="main-article-description">
                                        <%=products[i].model +' - '+products[i].mileage+' km'+' - '+products[i].province.province%></p>
                                          <p class="main-article-title"> <%=products[i].references%></p>
                                          <br>

                                        <a href="/products/edit/<%=products[i].id%>" class="boton-modificar"> Editar <br></a>
                                        <form action = "/products/delete/<%=products[i].id%>" method="POST">
                                            <button type ="submit">Borrar</button>
                                        </form>
                                    </div>
                                    </div>
                                </div>
                            </article>
                        <% } %>
                    <% } %>
                </section>
                <%-include(' ../partials/brands.ejs')%>

            </main>

        </body>

        <%-include('.. /partials/footer.ejs') %>

</html>