<!DOCTYPE html>
<html lang="en">
    <%-include('../head.ejs') %>
    <title>Crear producto</title>
</head>
<%-include('../header.ejs') %>
<body>
<br>
<div class="TopContainer">
    <h3>Modificar <%=product.references%></h3>
</div>
    <form class="formBody" method="POST" action="/products/edit/<%=product.id%>?_method=PUT" enctype="multipart/form-data">
        <div class="FormItem">
        <label>Referencia del vehículo</label>
        <textarea class="InputControl" type="text" id="refCar" name="refCar"><%=product.references%></textarea>
    </div>
    
    <div class="FormItem">
        <label>Marca del vehículo</label>
        <input class="InputControl" type="text" id="brandCar" name="brandCar" value=<%=product.brand%>>
    </div>
<!--
    <div class="FormItem">
        <label>Provincia de Argentina</label>
        <input class="InputControl" type="text" id="provinceCar" name="provinceCar" value=< %=product.province.province%>>
    </div>
-->     
    <div class="FormItem">
        <label>¿En qué provincia de Argentina se encuentra ubicado el vehículo?</label>
        <select class="InputControl" id="provinceCar" name="provinceCar">
            <% allProvinces.forEach(provinces => { %>
                <option value="<%= provinces.id %>"
                    <%if(provinces.id == product.province_id) {%>
                        selected >
                        <% } else {%>
                            >
                    <% } %>
                    <%= provinces.province %></option>
            <% }); %>
        </select>
    </div>
<!--   
    <div class="FormItem">
        <label>Ciudad de Argentina se encuentra ubicado el vehículo</label>
        <input class="InputControl" type="text" id="cityCar" name="cityCar" value=< %=product.prd_city%>>
    </div>
-->   
    <div class="FormItem">
        <label>Selecciona la categoría del vehículo que quieres vender: </label>
        <select class="InputControl" id="categoryTypeCar" name="categoryTypeCar" categoria="auto">
            <% allCategory.forEach(category => { %>
                <option value="<%= category.id %>"
                    <%if(category.id == product.category_id) {%>
                        selected >
                        <% } else {%>
                            >
                    <% } %>
                    <%= category.type %></option>
            <% }); %>
        </select>
    </div>
    <div class="FormItem">       
        <label>Selecciona el año del vehículo </label>
        <select class="InputControl" id="modelYear" name="modelYearCar" categoria="modelo">
            <% for(let i=2000;i < 2031; i++) {%>
                <option value="<%= i %>"
                    <%if(i == product.model) {%>
                        selected >
                    <% } else {%>
                        >
                    <% } %>
                    <%= i %></option>
            <% } %>
        </select>

    </div>
    <div class="FormItem">
        <label> Kilometraje </label>
        <input class="InputControl" type="text" id="mileageCar" name="mileageCar" value=<%=product.mileage%>>

    </div>
    <div class="FormItem">
        <label>Precio de venta ($ARS)</label>
        <input class="InputControl" type="number" id="priceCar" name="priceCar" value=<%=product.price%>>

    </div>
    <div class="FormItem">
        <label>Agregar Oferta (%)</label>
        <input class="InputControl" type="number" id="discountCar" name="discountCar" value=<%=product.discount_percentage%>>
    </div>
    <br>
        <label>Adjunte las imagenes que quiere colocar del vehículo</label>
    <br>
    <input class="boton-adj-file" type="file" name="imagesCar" accept=".jpg .png .jpeg" multiple>
    <div id="containerEditimg">
        <% for(var i = 0; i < product.img.length; i++) { %>
            <div class="elementEditimg">
                    <img class="imgEditForm" src="/img/<%=product.img[i]%>" alt="">
                    <button class="deleteBtn" type="submit" formaction="/products/deleteImg/<%=product.id%>/<%=i%>">X</button>
            </div>
        <% } %>
    </div>
    <div class="FormItem">
        <input class="SubmitBotton" type="submit" value="Guardar" >
    </div>
    </form>
   

<br>
</body>

<%-include('../footer.ejs') %>
</html>